<mat-horizontal-stepper>
    <mat-step >
        <ng-template  matStepLabel>Orden</ng-template>
        <div *ngIf="(products$ | async) as products">
            <p *ngIf="products.length === 0">No hay productos</p>
            <div class="row" *ngFor="let product of products | groupOrder: 'id'">
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box">
                        <img class="image" [src]="product.image" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-3">
                    <div class="box">
                        {{product.title}}
                        
                        <p>{{product.id}}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-3">
                    <div class="box">
                        {{product.price | currency}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-4">
                    <div class="box">
                        TOTAL: <label> <b>{{ product.quantity }}</b> 
                            <p>Precio Total {{product.totalPrice | currency}}</p> 
                        </label>
                    </div>
                </div>
            </div> 
             
        </div>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Datos Personales</ng-template>
        <h3>contenido</h3>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Pago</ng-template>
        <h3>contenido</h3>
    </mat-step>
</mat-horizontal-stepper>

