<footer>
    <div class="box">
        <div>
            <h3>Products</h3>
            <ul>
                <li><a href="">nuevos productos</a></li>
                <li><a href="">En oferta

                </a></li>
                <li><a href="">Últimos Productos</a></li>
            </ul>
        </div>
        <div>
            <h3>Acerca de Store</h3>
            <ul>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">nuestras tiendas</a></li>
            </ul>
        </div>
        <div>
            <h3>Contacto</h3>
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControl]="emailField" placeholder="Ex. pat@example.com">
                  <mat-error *ngIf="emailField.hasError('email') && !emailField.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailField.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
            </form>
              
            <button mat-raised-button *ngIf="emailField.valid" (click)="sendMail">Enviar</button>
        </div>
    </div>
</footer>